<!-- <nav>
  <a routerLink="/">Accueil</a>
  <a routerLink="/about">About Me</a>
  <a routerLink="/projects">Projects</a>
  <a routerLink="/contact">Contact</a>
</nav> -->


<nav class="navbar sticky-top navbar-expand-lg bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">FN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 <i class="fas fa-bars"></i>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto w-100 justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" href="\">Accueil<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="\about">A Propos </a>
          <li class="nav-item">
            <a class="nav-link" href="\projects">Projects</a>
            <li class="nav-item">
              <a class="nav-link" href="\contact">Contact</a>
<!--               <li class="nav-item">
                <a class="nav-link" href="#">Other</a>
              </li> -->
      </ul>
    </div>
  </div>
</nav>
