
<div class="container" style="margin-top: 20px;">

<div class="text">
  <h2>Sur moi</h2>
  <div class="para"> 
    <h2>Bienvenu sur mon Portfolio!</h2>
  
<p>Bonjour, je suis Floribert, un développeur Web formé en autodidacte et en centres de formation 
   fortement engagé dans la création d'applications Web de haute qualité 
    centrées sur l'utilisateur et le backend.

Vous trouverez ici le portfolio de mes compétences, expériences et projets. 
</p>
</div>

  <h3>Compétences</h3>
  <ul>
      <li>Web Development (HTML, CSS, JavaScript)</li>
      <li>Frontend Frameworks (Angular, React)</li>
      <li>Backend (PHP, Java)</li>
      <li>Base de données (MongoDB, MySQL)</li>
      <li>Wordpress</li>
      <!-- Add more skills as needed --> 
  </ul>

  <h3>Education</h3>
  
  <p> Concepteur developpeur d'application avec WebForce3
      Ayant à la base un diplôme de Licence en sciences biologique 
  </p>

  <h3>Experience</h3>
  <p>
      Freelance, création de sites internet  de 2022- 2024
      Vendeur polyvalent, zeeman de 2018 à 2022
      Directeur de Magasin de 2012 à 2017 à (Umuco Market Campany) Burundi
      Chargé de la logistique BTC(Burundi Trade Center) de 2011 à 2012
      
  </p>
</div>
</div>

