<body>
    <div class="card">
     <div class="header">
       <div>
         <h1 class="main-title">Contact</h1>
         <h2 class="subtitle">Vous pouvez me contacter via linkedin<br><span class="subtitle-regular">Développeur web</span></h2>
 <!-- 		<p>
           <a href="#" class="link-resume">Download my resume</a>   
         </p> -->
       </div>
       <div class="profile">
         <img src="https://cdn.pixabay.com/photo/2021/03/27/06/31/code-6127616_1280.png" alt="">
       </div>
     </div>
     <div class="social">
       
       <ul class="list">
 
         <li class="main-title ">
           <a href="https://www.linkedin.com/in/fntiranyuhura/" class="link linkedin"
           ><fa-icon [icon]="faLinkedin"></fa-icon>linkedin</a>
         </li>
         

       </ul>
     </div>
     <div class="bubbles">
       <div class="bubble"></div>
       <div class="bubble"></div>
       <div class="bubble"></div>
       <div class="bubble"></div>
     </div>
   </div>
 </body>